@charset "ISO-8859-1";

h2{
	margin: 30px;
	padding-top: 30px;
}
.card {
	background: #66ff66;
}

.author{
	
	padding-left: 30px;
}

.post {
	
	display:block;
}

.posts > div:first-child{
	margin-top:50px;
}

.selected{
	background: #1affff;
}

.delete-btn{
	float: right;
}

.bi-trash{
	float: right;
}
